#page-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-products nav {
    background-color: #49883E;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

#page-products nav .nav-content {
    display: flex;
    width: 100%;
    max-width: 1100px;
    height: 80px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

#page-products nav .nav-content h1 {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

#page-products nav .nav-content .buttons {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
    margin: auto 0;
    font-family: 'Red Hat Text', sans-serif;
}

#page-products nav .nav-content .buttons p {
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border: 1px solid #f0f0f5;
    border-radius: 16px;
    font-family: 'Red Hat Text', sans-serif;
    transition: 400ms;
}

#page-products nav .nav-content .buttons p:hover {
    background: white;
    border: 1px solid #49883E;
    color: #49883E;
}