#cover {
    margin-top: 80px;
    display: flex;
    width: 100%;
    height: 200px;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#cover {
    margin-top: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#cover .cover-content {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    line-height: 60px;
}

#cover .cover-content p {
    color: transparent;
}

#cover .fitness {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)), url(../../imgs/fitness.jpg) 100% no-repeat;
        background-size: cover;
}

#cover .beauty {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)), url(../../imgs/beauty.jfif) 100% no-repeat;
        background-size: cover;
}

#cover .herbs {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)), url(../../imgs/ervas.jpg) 100% no-repeat;
        background-size: cover;
}

#cover .nutrition {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)), url(../../imgs/nutricao.jpg) 100% no-repeat;
        background-size: cover;
}

#category-page h1 {
    display: block;
    align-items: center;
    text-align: center;
}

#article-container,
#product-container {
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#product {
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 15px;
    height: 480px;
    border-radius: 8px;
    transition: 400ms;
    box-shadow: 1px 8px 40px #dfdfdf;
}

#article {
    width: 30%;
    margin: 15px;
    height: auto;
    border: 1px solid #cccccc;
    border-radius: 8px;
    transition: 400ms;
}

#article h4,
#product h4 {
    color: #36632e;
    padding: 12px;
    font-family: 'montserrat', sans-serif;
}

#article img,
#product img {
    object-fit: cover;
    width: 100%;
    height: 50%;
}

#article .art-description,
#product .prod-description {
    color: black;
    padding: 12px;
    font-size: 14px;
}

a {
    text-decoration: none;
}

#product:hover {
    width: 41%;
    height: 390px;
    transition: 400ms;
    background-color: #f0f0f5;
}

#product .more {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#product .redirect-button {
    display: flex;
    color: white;
    background-color: #518b46;
    width: 30%;
    height: 40px;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 16px;
    box-shadow: 2px 2px 2px grey;
    transition: 400ms;
}

#product .redirect-button:hover {
    background-color: #67ac59;
}

#product .redirect-button p {
    margin: 0 auto;

}

#product:hover, 
#article:hover {
    width: 31%;
    height: 500px;
    width: 500px;
    transition: 400ms;
    background-color: #f0f0f5;
}

@media (max-width: 768px){ 

    img {
        width: 100%;
        border-radius: 0;
    }

    h1 {
        font-size: 24px;
    }

    h4 {
        font-size: 2.5vw;
    }

    #article-container,
    #product-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        font-size: 5px;
    }

    #article,
    #product {
        height: auto;
        width: 70%;
    }
}
