#page-landing {
    width: 100vw;
    height: 100vh;
    background:  linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url(../../imgs/bg.jpg) no-repeat fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-landing nav {
    display: flex;
    width: 100%;

    height: 80px;
    background-color: rgba(0,0,0,0.3);

    margin: 0 auto;

    position: absolute;
    top: 0;

    justify-content: center;
    align-items: center;
}

#page-landing nav .nav-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
}

#page-landing nav .nav-content h3 {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

#page-landing nav .nav-content .buttons {
    display: flex;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: auto 0;
    justify-content: space-between;
    
}

#page-landing nav .nav-content .buttons p {
    color: #f0f0f5;
    font-weight: 500;
    padding: 10px 20px;
    border: 1px solid #f0f0f5;
    border-radius: 16px;
    font-family: 'Red Hat Text', sans-serif;
    transition: 400ms;
}

#page-landing nav .nav-content .buttons p:hover {
    background: white;
    color: #49883E;
    border: 1px solid #49883E;
    transition: 400ms;
}

#page-landing #hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 100px;
}

#page-landing #hero-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

#page-landing #hero-content h3 {
    display: flex;
    color: white;
    width: 100%;
    max-width: 600px;
    font-size: 50px;
    padding: 10px 200px;
    border: 2px solid white;
    border-radius: 45px;
    transition: 600ms;
}

#page-landing #hero-content h3:hover {
    background: #f0f0f5;
    color: #49883E;
    border: 2px solid #49883E;
    transition: 600ms;
}