html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-page #cover {
    display: flex;
    width: 100%;
    height: 400px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)), url(../../imgs/bg.jpg) 90% no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 8px 12px rgba(73, 136, 62, 0.8);
}

#main-page #cover .cover-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    line-height: 60px;
    text-align: center;
}

#main-page #cover .cover-content h1 {
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

#main-page #cover .cover-content h5 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
}

#main-page #cover .cover-content p {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

#main-page #cover .cover-content a {
    display: flex;
    background-color: #49883E;
    width: 15%;
    margin: 0 auto;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    border: 2px solid rgba(73, 136, 62, 0.8);
    border-radius: 16px;
    justify-content: center;
    transition: 400ms;
}

#main-page #cover .cover-content a:hover {
    background-color: #37bf5c;
}

#main-page #categories {
    display: flex;
    margin: 80px 0;
    flex-direction: column;
    width: 100%;
    max-width: 70vw;
    align-items: center;
    justify-content: center;
    line-height: 80px;
}

#main-page #categories h1 {
    color: #49883E;
    font-family: 'Montserrat', sans-serif;
}

#main-page #categories #category {
    display: flex;
    width: 100%;
    height: 250px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    margin-bottom: 40px;
    box-shadow: 1px 6px 8px  rgba(73, 136, 62, 0.8);
}

#main-page #categories #category p {
    color: white;
    font-size: 30px;
    border: 1px solid white;
    text-align: center;
    padding: 2vh 3vw;
    border-radius: 16px;
    font-family: 'Red Hat Display', sans-serif;
    transition: 400ms;
}

#main-page #categories #category p:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.fitness-cat {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)), url(../../imgs/fitness.jpg) 90% no-repeat;
}

.nutrition-cat {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)), url(../../imgs/nutricao.jpg) 90% no-repeat;
}

.herbs-cat {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)), url(../../imgs/ervas.jpg) 90% no-repeat;
}

.beauty-cat {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)), url(../../imgs/beauty.jfif) 90% no-repeat;
}

@media (min-width: 2480px) {
    #main-page #cover .cover-content h1{
        font-size: 60px;
    }
}

@media (max-width: 768px){
    #main-page #categories #category p {
        font-size: 16px;
        text-align: center;
        line-height: 30px;
    }
}

@media (max-width: 1024px){
    #main-page #cover .cover-content p {
        font-size: 18px;
    }
}

@media (max-width: 768px){
    #main-page #cover .cover-content p {
        font-size: 14px;
        margin: 0
    }

    #main-page #cover .cover-content a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 426px){
    #main-page #cover .cover-content {
        line-height: 40px;

    }

    #main-page #cover .cover-content h5 {
        font-size: 14px;
    }

    #main-page #cover .cover-content h1 {
        font-size: 30px;
    }

    #main-page #cover .cover-content a {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #main-page #cover .cover-content p {
        font-family: 18px;
        margin: 0;
    }
}