#main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-page nav {
    background-color: #49883E;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

#main-page nav .nav-content {
    display: flex;
    width: 100%;
    max-width: 1100px;
    height: 80px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

#main-page nav .nav-content h1 {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

#main-page nav .nav-content .buttons {
    display: flex;
    width: 100%;
    max-width: 400px;
    justify-content: space-between;
    margin: auto 0;
    font-family: 'Red Hat Text', sans-serif;
}

#main-page nav .nav-content .buttons p {
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border: 1px solid #f0f0f5;
    border-radius: 16px;
    font-family: 'Red Hat Text', sans-serif;
    transition: 400ms;
}

#main-page nav .nav-content .buttons p:hover {
    background: white;
    border: 1px solid #49883E;
    color: #49883E;
}

#main-page #cover {
    margin-top: 80px;
    display: flex;
    width: 100%;
    height: 400px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)), url(../../imgs/bg.jpg) 90% no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#main-page #cover .cover-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    line-height: 60px;
}

#main-page #cover .cover-content h1 {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

#main-page #cover .cover-content h5 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
}

#main-page #cover .cover-content p {
    display: flex;
    background-color: #49883E;
    width: 8vw;
    margin: auto 0;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    border: 1px solid white;
    border-radius: 16px;
    justify-content: center;
    transition: 400ms;
}

#main-page #cover .cover-content p:hover {
    background-color: #37bf5c;
}

#main-page #categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    align-items: center;
    justify-content: center;
    line-height: 80px;
}

#main-page #categories h1 {
    color: #49883E;
    font-family: 'Montserrat', sans-serif;
}

#main-page #categories #fitness-category {
    display: flex;
    width: 100%;
    height: 250px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)), url(../../imgs/fitness.jpg) 90% no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    margin-bottom: 40px;
}

#main-page #categories #fitness-category p {
    color: white;
    font-size: 28px;
    border: 1px solid white;
    padding: 30px 80px;
    border-radius: 16px;
    font-family: 'Red Hat Display', sans-serif;
    transition: 400ms;
}

#main-page #categories #fitness-category p:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#main-page #categories #nutrition-category {
    display: flex;
    width: 100%;
    height: 250px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)), url(../../imgs/nutricao.jpg) 90% no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    margin-bottom: 40px;
}

#main-page #categories #nutrition-category p {
    color: white;
    font-size: 28px;
    border: 1px solid white;
    padding: 30px 80px;
    border-radius: 16px;
    font-family: 'Red Hat Display', sans-serif;
    transition: 400ms;
}

#main-page #categories #nutrition-category p:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#main-page #categories #health-category {
    display: flex;
    width: 100%;
    height: 250px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)), url(../../imgs/ervas.jpg) 90% no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    margin-bottom: 40px;
}

#main-page #categories #health-category p {
    color: white;
    font-size: 28px;
    border: 1px solid white;
    padding: 30px 80px;
    border-radius: 16px;
    font-family: 'Red Hat Display', sans-serif;
    transition: 400ms;
}

#main-page #categories #health-category p:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
