#page-nutrition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-nutrition nav {
    background-color: #49883E;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

#page-nutrition nav .nav-content {
    display: flex;
    width: 100%;
    max-width: 1100px;
    height: 80px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

#page-nutrition nav .nav-content h1 {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

#page-nutrition nav .nav-content .buttons {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
    margin: auto 0;
    font-family: 'Red Hat Text', sans-serif;
}

#page-nutrition nav .nav-content .buttons p {
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border: 1px solid #f0f0f5;
    border-radius: 16px;
    font-family: 'Red Hat Text', sans-serif;
    transition: 400ms;
}

#page-nutrition nav .nav-content .buttons p:hover {
    background: white;
    border: 1px solid #49883E;
    color: #49883E;
}

#page-nutrition #cover {
    margin-top: 80px;
    display: flex;
    width: 100%;
    height: 200px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)), url(../../imgs/nutricao.jpg) 100% no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#page-nutrition #cover .cover-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    line-height: 60px;
}

#page-nutrition #cover .cover-content p {
    color: transparent;
}

#page-nutrition #content {
    margin-top: 50px;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;

}

#page-nutrition #content h1 {
    font-family: 'Montserrat', sans-serif;
    color: #49883E;
}

#page-nutrition #content p {
    font-size: 15px;
    text-align: justify;
    width: 90%;
    height: 90%;
    box-decoration-break: clone;
}

#page-nutrition #content .articles {
    width: 100%;
    max-width: 1100px;
}

#page-nutrition #content .articles .row {
    display: flex;
    width: 100%;
    max-width: 1100px;
    justify-content: space-between;
    align-items: center;
}

#page-nutrition #content .articles .row .article {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 400px;
    border: 2px solid #49883E;
    border-radius: 8px;
}

#page-nutrition #content .articles .row .article img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

#page-nutrition #content .products {
    width: 100%;
    max-width: 1100px;
}

#page-nutrition #content .products .row {
    display: flex;
    width: 100%;
    max-width: 1100px;
    justify-content: space-between;
    align-items: center;
}

#page-nutrition #content .products .row .article {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 400px;
    border: 2px solid #49883E;
    border-radius: 8px;
}

#page-nutrition #content .products .row .article img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}