* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: white;
}

body, input, button, textarea {
    font: 400 18px 'Red Hat Text', sans-serif;
}

.dropd-item a {
    color: #518b46;
}

.bg-dark {
    background-color: #49883E !important;
    height: auto;
}

.nav-link {
    color: white !important;
}

.navbar-brand a {
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    font-size: 40px;
}

.session-title {
    color: #36632e;
    margin-top: 30px;
}

#footer {
    height: 140px;
    width: 100%;
    background-color: #36632e;
    font-size: 12px;
    display: flex;
    flex: 1;
    align-items: center;
}

#footer .soc-networks {
    align-items: center;
}

#footer .soc-networks,
#footer .dev,
#footer .info {
    justify-content: space-between;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 320px) {
    .navbar-brand a {
        font-size: 30px;
    }
}