* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: white;
}

body, input, button, textarea {
    font: 400 18px 'Red Hat Text', sans-serif;
}

.selected {
    background-color: #36632e;
    color: black !important;
    cursor: default;
    border: none !important;
}

.selected:hover {
    color: black !important;
    background-color: #36632e !important;
}

p:hover {
    cursor: default !important;
}