* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: white;
}

body, input, button, textarea {
    font: 400 18px 'Red Hat Text', sans-serif;
}

nav {
    background-color: #49883E;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

nav .nav-content {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 75%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

nav .nav-content h1 {
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
}

nav .nav-content .buttons {
    display: flex;
    width: 100%;
    max-width: fit-content;
    justify-content: center;
    font-family: 'Red Hat Text', sans-serif;
}

nav .nav-content .buttons p {
    color: white;
    font-weight: 500;
    padding: 1vh 2vw;
    border: 1px solid #f0f0f5;
    border-radius: 16px;
    font-family: 'Red Hat Text', sans-serif;
    transition: 400ms;
}

nav .nav-content .buttons p:hover {
    background: white;
    border: 1px solid #49883E;
    color: #49883E;
}

nav .nav-content #arrowMenu {
    display: none;
}

nav .nav-content #arrowMenu ul .dropDOne {
    display: none;
}

nav .nav-content #arrowMenu ul .dropDTwo {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #49883E;
    color: white;
    min-width: auto;
    justify-content: center;
    transition: 400ms;
}

.dropdown:hover .dropdown-content {
    color: white;
    display: flex;
    flex-direction: column;
    height: auto;
    transition: 400ms;
}

.dropdown-content p {
    border: none !important;
    width: 100%;
    border-radius: 0;
    transition: 400ms;
}

.selected {
    background-color: #36632e;
    color: black !important;
    cursor: default;
    border: none !important;
}

.selected:hover {
    color: black !important;
    background-color: #36632e !important;
}

.session-title {
    color: #36632e;
    margin-top: 30px;
}

#footer {
    height: 140px;
    width: 100%;
    background-color: #36632e;
    font-size: 12px;
    display: flex;
    flex: 1;
    align-items: center;
}

#footer .soc-networks {
    align-items: center;
}

#footer .soc-networks,
#footer .dev,
#footer .info {
    justify-content: space-between;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px){

    nav .nav-content .buttons {
        display: none;
        flex-direction: column;
        width: 15vw;
        height: 10vh;
    }

    nav .nav-content #arrowMenu {
        display: flex;  
        color: black;
        padding: 20px;
    }
}